# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Net-Search/Net.Utils/bin/Debug
/Net-Search/Net.Utils/obj/Debug
/Net-Search/packages
/Net-Search/Net.Spider/obj/Debug
/Net-Search/Net.Spider/bin/Debug
/Net-Search/Net.Server/obj/Debug
/Net-Search/Net.Server/bin
/Net-Search/Net.Server/Log
/Net-Search/Net.Models/bin/Debug
/Net-Search/Net.Models/obj/Debug
/Net-Search/Net.EngineConsole/bin/Debug
/Net-Search/Net.Common/bin/Debug
/Net-Search/Net.Common/obj/Debug
/Net-Search/Net.Api/bin/Debug
