
body {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: lighter;
    overflow-x: hidden;
}

#s_head {
    min-width: 1000px;
    border: red solid 0;
    height: 60px;
    position: relative;
    margin-left: -10px;
    margin-top: 0;
    overflow: visible;
}

#s_body {
    overflow: auto;
    padding-left: 30px;
    margin-left: 0;
    min-width: 1000px;
    border: red solid 0px;
}

#float_banner {
    top: 0;
    padding-left: 40px;
    border: red solid 0px;
    position: fixed;
    z-index: 3000;
}

#body_left {
    max-width: 600px;
}

#body_right {
    margin-left: 40px;
    min-width: 360px;
    max-width: 400px;
    border-left: 1px solid #eee;
    padding: 0 0 0 15px;
}

#right_show {
    -width: 360px;
}

#so_feb {
    width: 340px;
}

#soSafe {
    border-top: 2px solid #aef0c6;
    border-bottom: 2px solid #aef0c6;
    font-size: 13px;
    margin-bottom: 15px;
}

    #soSafe dt {
        cursor: pointer;
        height: 22px;
        line-height: 22px;
    }

        #soSafe dt span {
            color: #46c878;
            font: 13px/22px "Microsoft YaHei";
            vertical-align: middle;
        }


        #soSafe dt div {
            background-position: -177px -366px;
            color: #999;
            float: right;
            font-size: 12px;
            padding-right: 14px;
        }

    #soSafe:hover {
        border-color: #cef0c6;
    }

    /*#soSafe.open dt.hover {
                border-color: #fff;
            }*/

    #soSafe.open dt div {
        background-position: -177px -387px;
    }

    #soSafe.open dd {
        display: block;
    }

    #soSafe span.safe-guard-logo {
        background: url(src/safe_16.png) no-repeat;
        background-image: -webkit-image-set(url(src/safe_16.png) 1x,url(src/safe_32.png) 2x);
        display: inline-block;
        height: 13px;
        margin-right: 3px;
        vertical-align: -2px;
        width: 13px;
    }

    #soSafe dd {
        display: none;
        padding: 11px 0 12px;
    }

        #soSafe dd p {
            color: #333;
            line-height: 20px;
            margin-bottom: 3px;
        }

            #soSafe dd p.txt {
                margin-bottom: 8px;
            }

.stext {
    font-size: 13px;
    line-height: 20px;
}

.rt {
    color: red;
}

.res-title {
    margin-bottom: 0;
    margin-top: 0.2em;
}

.res-linkinfo cite {
    color: #4e9c62;
    font-size: 12px;
    font-style: normal;
}

.res-linkinfo a {
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
}

.mingpian {
    color: #666;
    margin-left: -2px;
    text-align: center;
    font-size: 20px;
}

    .mingpian:visited {
        color: #666;
    }

    .mingpian:hover {
        color: #00bb3c;
    }

    .mingpian span {
        font-size: 12px;
    }

.mingpian-tooltip {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 300px;
    max-height: 200px;
    display: none;
    background: white;
    position: absolute;
    font-size: 12px;
    font-family: 'Microsoft YaHei';
}

.mingpian-description {
    margin-top: 3px;
}

.mingpian-title {
    font-size: 16px;
    font-weight: bold;
    color: aqua;
}

.mingpian-plan {
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid #eee;
}

.mingpian-credit {
    margin-top: 3px;
}

mingpian-plan {
}

mingpian-planed {
}

.tip-v {
    background: url(src/v_16.png) no-repeat 0 0;
    background-image: -webkit-image-set(url(src/v_16.png) 1x,url(src/v_32.png) 2x);
    display: inline-block;
    height: 12px;
    overflow: hidden;
    vertical-align: middle;
    width: 12px;
}

#s_footer {
    clear: both;
    background: #FAFAFA;
    font-size: 12px;
    height: 60px;
    line-height: 53px;
    margin-top: 50px;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    background-image: none;
    padding: .6em .8em;
    color: #999;
    text-transform: none;
    margin-bottom: 0;
    position: relative;
    margin-left: -10px;
    padding-left: 40px;
}

    #s_footer a {
        color: #999;
        font-size: 12px;
        margin: 0 8px;
        text-decoration: none;
    }

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    border: red solid 0;
}

.flex-item {
    background: tomato;
    padding: 5px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.spread li, .spread h3 {
    list-style: none;
    margin: 0;
    padding: 0;
}

#page {
    margin: 15px 0 0 -2px;
    padding-top: 6px;
    white-space: nowrap;
}

    #page a, #page strong {
        background: white;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        display: inline-block;
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        margin-right: 5px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        width: 36px;
    }

        #page a#spre, #page a#snext {
            font-size: 14px;
            width: 76px;
        }

    #page .nums {
        color: #999;
        font-size: 12px;
    }

.nav-wrapper-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

    .nav-wrapper-fixed .nav {
        width: 960px;
        margin: 0 auto;
    }

        .nav-wrapper-fixed .nav li {
            float: left;
            width: 100px;
            margin-right: 5px;
            background: #CCC;
            text-align: center;
            height: 24px;
            line-height: 24px;
            list-style: none;
        }

.nav-wrapper {
    margin-top: 100px;
    width: 100%;
}

    .nav-wrapper .nav {
        width: 960px;
        margin: 0 auto;
    }

        .nav-wrapper .nav li {
            float: left;
            width: 100px;
            margin-right: 5px;
            background: #CCC;
            text-align: center;
            height: 24px;
            line-height: 24px;
            list-style: none;
        }
