<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
   <basicHttpBinding>
                <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="2147483647"  maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/NetServer/api.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttp"
                contract="ServiceReference.IManager" name="basicHttp" />
        </client>
    </system.serviceModel>
</configuration>